.adminLayout {
    border-right: var(--border-width-border, 1px) solid var(--base-border, #E5E5E5);
    background: linear-gradient(0deg, var(--alpha-40, rgba(255, 255, 255, 0.60)) 0%, var(--alpha-40, rgba(255, 255, 255, 0.60)) 100%), var(--base-muted, #F5F5F5);
    .adminLogo{
        border-bottom: var(--border-width-border, 1px) solid var(--base-border, #E5E5E5);
    }
}