.mode-btn {
  border-radius: var(--border-radius-rounded-md, 8px);

  &[data-state='active'] {
    background: var(--custom-background-dark-input-30, #fff);

    /* shadow/sm */
    box-shadow:
      var(--shadow-sm-1-offset-x, 0) var(--shadow-sm-1-offset-y, 1px)
        var(--shadow-sm-1-blur-radius, 3px) var(--shadow-sm-1-spread-radius, 0)
        var(--shadow-sm-1-color, rgba(0, 0, 0, 0.1)),
      var(--shadow-sm-2-offset-x, 0) var(--shadow-sm-2-offset-y, 1px)
        var(--shadow-sm-2-blur-radius, 2px)
        var(--shadow-sm-2-spread-radius, -1px)
        var(--shadow-sm-2-color, rgba(0, 0, 0, 0.1));
  }
}

.shifu-editor-footer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  
  .shifu-footer-link {
    color: rgba(10, 10, 10, 0.45);
    text-align: center;
    font-family: 'PingFang SC';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: rgba(10, 10, 10, 0.65);
      text-decoration: underline;
    }
  }
}
