.outline-tree_node {
  transition: background-color 0.2s ease;
}

.outline-tree_node.select {
  overflow: hidden;
  color: var(--base-sidebar-foreground, #0a0a0a);
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  font-size: var(--text-sm-font-size, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  border-radius: var(--border-radius-rounded-md, 8px);
  background: #e5e5e5;
}

.outline-tree_title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  font-size: var(--text-sm-font-size, 14px);
  line-height: 100%;
}

.outline-tree_actions {
}

.outline-tree_section-count {
  overflow: hidden;
  color: rgba(10, 10, 10, 0.45);
  text-align: right;
  text-overflow: ellipsis;
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: var(--font-weight-normal, 400);
  line-height: 100%;
}

.outline-tree_action-button {
  border: 0;
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  cursor: pointer;
}
