.protocolWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-5);
  width: 100%;
  margin: 0;
  padding: 0;
}
.protocolWrapper .protocolDesc {
  color: rgba(0, 0, 0, 0.45);
  font-family: Geist;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.protocolWrapper .protocolLinks .protocolLink {
  text-decoration: none;
}
.protocolWrapper .virtualProductDesc {
  margin: 50px auto auto auto;
  color: rgba(0, 0, 0, 0.45);
  font-family: Geist;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}
.protocolWrapper .virtualProductDesc .descTitle {
  font-weight: bold;
}
.protocolWrapper .virtualProductDesc .descPoint {
  line-height: 1.5;
}
.protocolWrapper .virtualProductDesc .protocolLink {
  text-decoration: none;
  margin-right: 5px;
}
:global(.hasPriceItems) .virtualProductDesc {
  margin: 0 auto auto auto;
}
