.protocolWrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-5);
  width: 100%;
  margin: 0;
  padding: 0;

  .protocolDesc {
    color: rgba(0, 0, 0, 0.45);
    font-family: Geist;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
  }

  .protocolLinks {
    .protocolLink {
      text-decoration: none;
    }
  }

  .virtualProductDesc {
    margin: 50px auto auto auto;
    color: rgba(0, 0, 0, 0.45);
    font-family: Geist;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
    .descTitle {
      font-weight: bold;
    }

    .descPoint {
      line-height: 1.5;
    }

    .protocolLink {
      text-decoration: none;
      margin-right: 5px;
    }
  }
}
