.newChatPage {
  width: 100%;
  min-height: 100svh;
  display: flex;
  font-size: var(--font-size-4);
  font-weight: var(--font-weight-4-1);
  color: var(--font-color-main);

  .chatMobileHeader {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &.listenMode {
    height: 100%;
    min-height: auto;

    .chatMobileHeader {
      position: static;
      top: auto;
    }
  }
}

:global(html.listen-mode) {
  height: 100%;
}

:global(body.listen-mode) {
  height: 100%;
  min-height: auto;
}

:global(body.listen-mode #root) {
  height: 100vh;
  min-height: auto;
}
