.ChatUi {
  position: relative;
  flex: 1;

  .header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 64px;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
      180deg,
      #fff 0%,
      #fff 62.5%,
      rgba(255, 255, 255, 0.8) 100%
    );
    z-index: 10;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 20px;
  }

  .footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background: linear-gradient(
      0deg,
      #fff 0%,
      #fff 62.5%,
      rgba(255, 255, 255, 0.8) 100%
    );
    z-index: 10;

    .footerText {
      color: rgba(10, 10, 10, 0.45);
      text-align: center;
      font-family: 'PingFang SC';
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px; /* 200% */
    }
  }

  &.mobile {
    width: 100%;
    padding-top: 80px;
    padding-bottom: calc(40px + env(safe-area-inset-bottom, 0px));
    .chatComponents {
      padding-top: 0;
      padding-bottom: calc(120px + env(safe-area-inset-bottom, 0px));
    }
    .footer {
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      padding-bottom: env(safe-area-inset-bottom, 0px);
    }
  }

  .chatComponents {
    width: 100%;

    height: 100%;
    min-height: 100vh;
    background: #fff;
    flex: 1 1 auto;
    justify-content: center;
    overflow-y: auto;
    padding-top: 64px;
    padding-bottom: 40px;
    box-sizing: border-box;
  }

  .chatComponentsHidden {
    overflow-y: hidden;
    display: none;
  }

  .UserSettings {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    margin-top: 64px;
  }
}

.previewMode {
  position: fixed;
  bottom: 100px;
  right: 20px;
  z-index: 1000;

  .previewModeButton {
    padding: 8px 16px;
    border-radius: 10px;
    border: 1px solid #d9d9d9;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;

    &:hover {
      border-color: #1890ff;
      color: #1890ff;
    }

    &.active {
      background: #1890ff;
      border-color: #1890ff;
      color: #fff;

      &:hover {
        background: #40a9ff;
        border-color: #40a9ff;
        color: #fff;
      }
    }
  }
}
