.interaction-block {
  padding-top: 12px;
  // padding-bottom: 5px;
  margin: 0 auto;
  max-width: 1000px;

  .ask-button svg:hover {
    color: hsl(var(--primary));
    padding-left: 20px;
    padding-bottom: 5px;
  }
  
  button {
    &:disabled {
      cursor: not-allowed;
    }

    &:not(:disabled) svg:hover {
      color: hsl(var(--primary));
    }
  }
}
.ask-button {
  background: #55575E;
  color: rgba(255, 255, 255, var(--tw-text-opacity, 1));
  width: 54px;
  height: 22px;
  gap: 4px;
  font-size: 10px;
  line-height: 1;
  border-radius: 24px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  margin-right: 3px;

  &:not(:disabled):hover {
    background: hsl(var(--primary));
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.interaction-icon-btn {
  padding: 3px;
  border-radius: 4px;
  transition: background-color 0.2s ease;

  &:hover:not(:disabled) {
    background: #EAEAEA;
  }
}
