.reveal pre {
  font-size: 12px !important;
  width: 100% !important;
  box-shadow: none !important;
}

.listen-reveal-wrapper {
  width: 100%;
  height: 100%;
  padding: 96px 32px 72px 32px !important;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.listen-reveal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: block;
  position: relative;
  box-sizing: border-box;
  .slides {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    top: 0 !important;
    left: 0 !important;
    transform: none !important;
    transform-origin: top left !important;
    section {
      width: 100% !important;
      height: 100% !important;
      box-sizing: border-box;
    }
  }
}

.listen-audio-controls {
  position: absolute;
  right: 24px;
  bottom: 24px;
  z-index: 10;
}
