.navHeader {
  height: 60px;
  padding: 0 15px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  transition: width 3s ease;
  border-bottom: 1px solid #e5e5e5;
}
.navHeader.mobile {
  height: 76px;
}
.navHeader .logoArea {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.navHeader .actionBtn {
  width: 16px;
  text-align: center;
  vertical-align: middle;
}
.navHeader .actionBtn:hover {
  cursor: pointer;
}
.navHeader .actionBtn .icon {
  width: 16px;
  color: #0a0a0a;
}
.navHeader.collapse {
  padding: 15px 0;
  width: 64px;
  flex-flow: column nowrap;
}
.navHeader.collapse .actionBtn {
  margin-top: 20px;
  margin-bottom: 20px;
}
